{:deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :paths ["src" "src-java" "resources"]
 :aliases {:test {:extra-paths ["test"]}
           :build {:replace-deps {io.github.clojure/tools.build {:tag "v0.8.1" :sha "7d40500"}}
                   :ns-default build}}}
